/*************************************
    PRESCRIZIONI GENERALI
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.shade::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
}

/*************************************
    STRUTTURA PAGINA
*/
body {
  font-family: 'Abel', sans-serif;
  color: ##3c3c3c;
  /* font-family: "Courier New", sans-serif; */
}
.page {
  width: 80%;
  /* height: 100vh; */
  margin: 15px auto;
  /* background-color: lightgrey; */
}

/*************************************
    INTESTAZIONE
*/
header {
  /* position: fixed;
  z-index: 9999;
  width: 80%; */
}

/* logo */
.logo {
  height: 60px;
  /* background-color: #d794d2; */
}
.logo img {
  height: 100%;
  /* vertical-align: middle; */
}

/* menu */
.menu {
  height: 40px;
  margin-bottom: 15px;
  /* background-color: #d794d2; */
}
.menu ul {
  list-style: none;
}
.menu ul li {
  display: inline-block;
  line-height: 40px; /* same as .menu height */
  padding: 0 10px;
}
.menu a {
  text-decoration: none;
  color: #3c3c3c;
  text-transform: uppercase;
}

/*************************************
    CORPO
*/
main {
  /* margin-top: 300px; */
}

/* slider */
.slider {
  position: relative; /*riferimento per .slider_text */
  height: 300px;
  margin-bottom: 15px;
  border-radius: 10px;
  overflow: hidden;
  /* background-color: #e0d35a; */
}
.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider_text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40%;
  color: white;
  margin: 20px;
}
.slider_title {
  font-size: 2em;
}
.slider_subtitle {
  font-style: italic;
  font-size: 0.8em;
}

/*************************************
    TITOLO E 3 COLONNE
*/
.content {
  margin-bottom: 5px;
  background-color: #0ba4cd;
}

/* titolo */
.title {
  height: 80px;
  margin-bottom: 10px;
  background-color: #6ecae3;
}

/* colonna */
.col {
  float: left;
  height: 400px;
  margin-bottom: 10px;
  background-color: #6ecae3;
}
.col.left,
.col.right {
  width: 20%;
  overflow: hidden;
}
.col.middle {
  width: 58%;
  margin: 0 1%;
}
.col img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
  /* overflow: hidden; */
  /* border: 1px solid black; */
}
.col_title {
  font-weight: bold;
  line-height: 2em;
}
.col_text {
  font-size: 0.8em;
}








/*************************************
    FOOTER
*/
footer {
  height: 40px;
  background-color: #d55fc1;
}
